
.container1{
    display: flex;
    background-color: #FFA1F5;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    height: 200px;
}
.title{
    text-align: center;
    font-family: Cherry Cream Soda;
    font-size: 50px;
    padding: 0px;
    margin: 0px;
}
.box1{
    display: inline-flex;
    background-color: #F8FF95;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    height: 600px;
    width: 700px;
    
}
.box2{
    display: inline-flex;
    background-color:#A6FF96;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    height: 600px;
    width: 700px;
    
    
}
.txt{
    display: flex;
    background-color: #BC7AF9;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
}
footer{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
h1{
    font-family: Cherry Cream Soda;
    text-align: center;
    font-size: 50px;
}
